<!-- homepage.handlebars -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BlogTech Home</title>
  <link rel="stylesheet" href="/css/jass.css">
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
    <h1>
      Current POSTS
    </h1>
  
    {{#if logged_in}}
   
    <nav>
      <button class="btn" id="logout">logout</button>
    </nav>
    
    {{/if}}
  </header>
  <main class="container container-fluid mt-5">
    <div class="row align-center mb-5">
      {{#each blogposts}}
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h2>{{title}}</h2>
            </div>
            <div class="card-body">
              <p>{{body}}</p>
            </div>
            <div class="card-footer">
              <p>{{user.name}}, {{formatDate createdAt}}</p>
            </div>
          </div>
        </div>
      {{/each}}
    </div>

    <!-- Form to create a new blogpost -->
   
    {{#if createForm}}
   
    <div class="row align-center">
      <div class="col-md-6">
        <h2>Create a New Blogpost</h2>
        <form class="form new-blogpost-form" action="/create-blogpost" method="post">
          <div class="form-group">
            <label for="title">Title:</label>
            <input class="form-input" type="text" id="title" name="title" required />
          </div>
          <div class="form-group">
            <label for="body">Body (up to 255 characters):</label>
            <textarea class="form-input" id="body" name="body" maxlength="255" required></textarea>
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit">Create Blogpost</button>
          </div>
        </form>
      </div>
    </div>
    {{/if}}
  </main>
  <footer>

  </footer>

  {{#if logged_in}}
 
 <script src="/js/logout.js"></script>

  {{/if}}

</body>

</html>
